@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'GowunDodum-Regular';
    color: black;

    --Xsmall-font-size : 10px;
    --small-font-size : 13px;
    --medium-font-size : 16px;
    --large-font-size : 21px;
    --Xlarge-font-size : 24px;

}



/*****************************************************************/

nav{
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: rgba(14, 124, 207, 0.7);
}

nav section{
    margin: 50px 30px;
    display: flex;
}

nav section div{
    display: flex;
    flex-direction: column;
}

nav section div span{
    margin: 15px 0;
    color: white;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}

nav section div span:hover{
    font-size: 27px;
}


/*****************************************************************/
.about-me-section{
    margin: 0 auto 100px auto;
    width: 65%;
    height: 850px;
    padding: 100px 0;
}

#profile-section > div{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#profile-section img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 25%;
}

#profile-introduce{
    margin: 25px 0;
}

#profile-introduce h1{
    font-size: 70px;
    color: #343a40;
}
#profile-introduce div:nth-child(2){
    margin: 20px 0;
    font-size: 20px;
}

#profile-introduce div:nth-child(3){
    margin: 50px 0;
}

#profile-icon{
    display: flex;
}

#profile-icon div{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}

#profile-icon div a{
    text-decoration: none;
    color: black;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}

#profile-icon div img{
    width: 100%;
    height: 100%;
}


/***********************************************************************/

.project{
    margin: 50px auto 280px auto;
    width: 65%;
}

/*.project-section1{*/
/*    margin: 20px 30px;*/
/*}*/

.project> span{
    display: block;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 100px;
}

.project > div{
    display: flex;
    margin-bottom: 100px;
}

.project-section1 > div{
    width: 600px;
    height: 500px;
    padding: 50px 0;
}
.project-section1 > div img{
    width: 100%;
    height: 100%;
    /*object-fit: contain;*/
}

.project-explain{
    margin: 30px 30px;
}
.project-explain > div:first-child{
    margin: 20px 0;
}
.project-explain > div:nth-child(2) li{
    line-height: 25px;
    margin: 20px 0 20px 30px;
}

.during-project > span{
    display: block;
    color: rgba(14, 124, 207, 0.7);
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
}

.project-stack{
    font-weight: bold;
}

.project-stack-explain{
    color: #999999;
    display: block;
    margin: 5px 0;
}

.project-main-function{
    font-weight: bold;
}

.project-main-function-list{
    display: block;
    margin: 5px 0;
    color: #999999;
    line-height: 30px;
}


/*****************************************************************************/

.skill{
    width: 65%;
    margin: 50px auto 280px auto;
}

.skill > div{
    /*margin: 20px 30px;*/
    font-weight: bold;
    font-size: var(--Xlarge-font-size);
}

/******************************************************************************/

.skill2{
    width: 65%;
    margin: 50px auto 280px auto;
}

.skill2 > div:nth-child(1){
    margin: 100px 0;
    font-size: 30px;
    font-weight: bold;
}

.skill2 > div{
    margin: 30px 0;
    font-weight: bold;
    font-size: var(--large-font-size);
}

#skill-section > section{
    display: flex;
    margin: 25px 0;
}
#skill-section > section > img{
    object-fit: cover;
    height: 100px;
    margin: 30px;
}

/*******************************************************************************/

.education{
    width: 65%;
    margin: 50px auto 280px auto;
}

.education > section > div{
    display: flex;
    flex-direction: column;
}

.education > section:nth-child(1){
    margin: 100px 0;
    font-size: 30px;
    font-weight: bold;
}

.education > section{
    margin: 40px 0;
}

.education-name{
    margin: 8px 0;
    font-weight: bold;
    font-size: 28px;
}

.stack{
    color: rgba(14, 124, 207, 0.7);
    font-size: 20px;
    margin-bottom: 6px;
}

.stack-list{
    color: #999999;
    margin-bottom: 50px;
}

.study{
    color: rgba(14, 124, 207, 0.7);
    font-size: 20px;
    margin-bottom: 6px;
}

.study-list{
    color: #999999;
    line-height: 30px;
    margin-bottom: 30px;
}

/********************************************************************************/

.contact{
    width: 65%;
    margin: 50px auto 0 auto;
}

.img-section{
    position: relative;
    width: 1300px;
    height: 500px;
}

.img-section > div{
    width: 100%;
    height: 200px;
    position: absolute;
    margin: 50px auto;
    font-size: 30px;
    font-weight: bold;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-section > div > span{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.img-section > div > span:nth-child(1){
    font-size: 60px;
    font-weight: bold;
}

.contact img{
    width: 1300px;
    height: 500px;
    opacity: 40%;
}

.contact-box-section{
    margin: 170px 0;
    display: flex;
    justify-content: center;
}

.contact-box-section > div{
    display: flex;
    margin: 0 50px;
    /*flex-direction: column;*/
}

.contact-box-section > div > div:first-child{
    /*display: flex;*/
    /*justify-content: center;*/
    background-color: cornflowerblue;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.contact-box-section > div > div > i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    border-radius: 50%;
}

.contact-box-section > div > div:nth-child(2){
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}

.contact-box-section > div > div > span:nth-child(1){
    font-weight: bold;
    font-size: 20px;
}

.contact-box-section > div > span{
    margin: 20px auto;
}

.contact-name{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;

}

