header > section{
    display: flex;
    align-items: center;
}

.header-section1{
    height: 90px;
    background-color: #D5E5F2;
}

.header-nav1{
    width: 65%;
    margin: 0 auto;
}

.header-nav1 > div{
    font-size: var(--large-font-size);
    font-weight: bold;
    height: 100%;
    margin: 0 15px;
    cursor: pointer;
}

.header-nav1 > div:first-child{
    float: left;
}

.header-nav1 > div:nth-child(2){
    float: right;
}

.header-nav1 > div:nth-child(3){
    float: right;
}

.header-nav1 > div:nth-child(4){
    float: right;
}

.header-section2{
    position: fixed;
    height: 50px;
    background-color: #D5E5F2;
    width: 100%;
    top: -50px;
    transition-duration: 0.5s;
}

.header-section2[active]{
    top: 0;
    display: block;
}

.header-nav2{
    width: 65%;
    margin: 0 auto;
}

.header-nav2 > div{
    font-size: var(--medium-font-size);
    font-weight: bold;
    height: 100%;
    margin: 2px 10px;
    padding-top: 13px;
    cursor: pointer;
}

.header-nav2 > div:first-child{
    float: left;
}

.header-nav2 > div:nth-child(2){
    float: right;
}

.header-nav2 > div:nth-child(3){
    float: right;
}

.header-nav2 > div:nth-child(4){
    float: right;
}

/*****************************************************************/

.about-me-section{
    width: 65%;
    margin: 50px auto 280px auto;
    display: flex;
}

.about-me-section1{
}

.img-section{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/318/271/small_2x/user-profile-icon-free-vector.jpg");
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 300px;
    margin: 50px 20px 0 20px;
}

.introduce-section > span{
    display: flex;
    margin: 30px 0 30px 50px;
    font-size: var(--small-font-size);
}

.about-me-section2{
}

#introduction{
    height: 300px;
    margin: 80px 50px 0 100px;
}

#introduction > span{
    display: flex;
    margin: 20px 0;
}

#introduction > span:first-child{
    font-size: var(--large-font-size);
    font-weight: bold;
}

#introduction > span:nth-child(2){
    margin: 20px 0;
    font-size: var(--medium-font-size);
}

#introduction-main{
    margin: 30px 70px 30px 70px;
    font-size: var(--medium-font-size);
}

/***********************************************************************/

.project{
    margin: 50px auto 280px auto;
    width: 65%;
    display: flex;
}

.project-section1{
    margin: 20px 30px;
}

.project-section1 > div:first-child{
    font-size: var(--Xlarge-font-size);
    font-weight: bold;
    margin: 30px 0;
}

.project-section1 > div:nth-child(2){
    width: 600px;
    height: 500px;
    padding: 50px 0;
}
.project-section1 > div:nth-child(2) img{
    width: 100%;
    height: 100%;
    /*object-fit: contain;*/
}

.project-explain{
    margin: 130px 30px;
}
.project-explain > div:first-child{
    margin: 20px 0;
}
.project-explain > div:nth-child(2) li{
    line-height: 25px;
    margin: 20px 0 20px 30px;

}

/*****************************************************************************/

.skill{
    width: 65%;
    margin: 50px auto 280px auto;
}

.skill > div{
    margin: 20px 30px;
    font-weight: bold;
    font-size: var(--Xlarge-font-size);
}

/******************************************************************************/

.skill2{
    width: 65%;
    margin: 50px auto 280px auto;
}

.skill2 > div{
    margin: 20px 30px;
    font-weight: bold;
    font-size: var(--Xlarge-font-size);
}

#skill-section > section{
    display: flex;
}
#skill-section > section > img{
    object-fit: cover;
    height: 100px;
    margin: 30px;
}


/********************************************************************************/
footer{
    height: 70px;
    background-color: rgba(169, 169, 169, 0.5);
}

.footer-section{
    margin: 0 auto;
    width: 65%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer-section > div{
    margin-top: 20px;
}

.footer-annotation > span{
    display: block;
    font-size: var(--small-font-size);
}

.footer-img-section > div{
    display: inline-block;
    cursor: pointer;
}

.footer-img-section > div:first-child{
    background-image: url("../인스타그램_글리프 그레이.png");
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
    margin: 10px;
}

.footer-img-section > div:nth-child(2){
    background-image: url("../pngwing.com (1).png");
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 30px;
    margin: 5px;
}